<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon> &nbsp;
     <Span style="font-size: 150%;">Customer Details</Span>
   </button>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLinkActive="active" routerLink="Testing" >
    <mat-icon>find_replace</mat-icon>
  </button>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLinkActive="active" routerLink="Tabular" >
    <mat-icon>table_chart</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLinkActive="active" routerLink="Graphical">
   <mat-icon>equalizer</mat-icon>
 </button>
</mat-toolbar>